*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.startside{
    width: 100%;
}

.logo img{
    border-radius: 50%;
    width: 125px;

}

.UATLOGO{
    margin-left: 35px;
    cursor: pointer;
    float: left;   
}

.navbar{   
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 8px;
    letter-spacing: 3px;    
    opacity: 100%;
    top: 0;
    z-index: 999;
}

.navbar ul{
    list-style: none;
}

.navbar li{
    display: inline-flex;
    padding: 0px 40px;
}

.navbar a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.navbar a:hover{
    text-decoration: underline;
    color: rgb(72, 119, 2);
}


.introduction{
    position: sticky;
    top: 90%;
    left: 17%;
    line-height: 1.8;
    margin-top: -400px;
    margin-left: 60px;
}

.heading1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 3px;
    }

.introductionParagraph{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 1px 1px 2px black;
        transition: 0.3s;
    }

    .background{
        width: 100%;
        opacity: 90%;
        filter: blur(4px);
       height: 615px;
    }

.studiesContainer{
        line-height: 1.8;
    }

.studieslink{
    margin-top: 150px;
    padding-left: 17%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(223, 54, 54);
}


/* Boxene */

*{
    box-sizing: border-box;
}

.Studynames{

    margin-left: 10%;
}

.child{
    font-size: 20px;
    padding: 1%;
    margin: 5%;
    list-style: none;
    transition: 0.7s;
    text-align: center;
}



.child a{
    text-decoration: none;
    color:black;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.7s all ease-out;
}

.parent-1{
    display: flex;
}

.parent-2{
    display: flex;
}

.parent-3{
    display: flex;
}

.child:hover{
    border: 2px solid rgba(97, 87, 87, 0.315);
    border-radius: 8%;
    font-size: 23px;
    background-color: rgb(92, 88, 88);
}

.child a:hover{
    color: white;
    transform: translate(0, -5%);
}

.footerContainer{
    background-color: #d83434;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 80px;  
}

.footerContainer p{
    font-size: 20px;
    letter-spacing: 1px;
}

.studyContainer{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    text-align: center;
    line-height: 2;
}

.heading3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
}

.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin-top: 2em;
    margin-bottom: 2em;
}

.placeholderStudies{
    width: 500px;
    height: 250px;
}

@media only screen and (max-width: 868px){

    .introduction{
        margin-top: -450px;
    }

    .Studynames{
        margin-left: 35%;
    }


    .parent-1{
        display: block;
    }

    .parent-2{
        display: block;
    }

    .parent-3{
        display: block;
    }

    .child{
        font-size: 20px;
        padding: 4%;
        margin: 4%;
        list-style: none;
        transition: 0.7s;
        text-align: left;
    }
    
    .child:hover{
        border: hidden;
        text-decoration: underline;
        background-color: white;
    }

    .child a:hover{
        color: black;
    }

    .footerContainer{
        margin-top: 5%;
    }

    
}


@media only screen and (max-width: 827px){


    .navbar{
        width: 850px;
    }


     .introduction{
        width: 500px;
        position: sticky;
        margin-top: -450px;
        margin-left: 1px;   
    }

  

  
    .Studynames{
        margin-left: 36%;
    }

    .startside{
        width: 100%;
    }

    .background{
        width: 100%;
    }

    .image-container{
        width: 100%;
    }

    .intro-container{
        width: 822px;
    }

    .heading1{
        font-size: 30px;
        
    }

    .studieslink{
        width: 822px;
        margin-top: 80px;
    }

    .footerContainer{
        width: 822px;
        margin-top: 3%;
    }
}


@media only screen and (max-width: 699px){
    .Studynames{
        margin-left: 40%;
    }
    .startside{
        width: 100%;
    }

    .background{
        width: 100%;
    }

    .image-container{
        width: 100%;
    }

    .intro-container{
        width: 822px;
    }

    .introduction{
        width: 500px;
        position: sticky;
        margin-top: -100px;
        margin-left: 1px;
        
    }

    .introductionParagraph{
        
        color:white;
    }

    .heading1{
        font-size: 30px;
        margin-top: -400px;
    }
    
    .studieslink{
        margin-top: 40px;
    }

    .footerContainer p{
        
        margin-right: 20%;
    }

}

@media only screen and (max-width: 685px){

    .introduction{
        margin-top: -60px;
        width: 500px;
    }

    .navbar li{
        padding: 5px;
    }

    



}

@media only screen and (max-width:556px){

    .introduction{
        width: 390px;
        margin-bottom: 70px;
    }

    .heading1{
        margin-top: -440px;

    }

    .introductionParagraph{
        color: white;
        font-size: 27px; 

    }

   
    
    .Studynames{
        margin-left: 47%;
    }

    .footerContainer{
        margin-top: 3%;
    }

    .studiesContainer{
        margin-right: 250px;
    }
}

@media only screen and (max-width: 370px){

    .navbar{
        width: 1000px;
    }

    body{
        width: 370px;
    }

    .intro-container{
        width: 2000px;
    }

   
    .Studynames{
        margin-left: 70%;
    }

    .footerContainer{
        width: 900px;
        margin-top: 6%;

    }

    .studieslink{
        width: 900px;
    }


}

@media only screen and (max-width: 322px){
   

    .Studynames{
        margin-left: 60%;
    }


    .startside{
        width: 100%;
    }

    .background{
        width: 100%;
    }

    .image-container{
        width: 100%;
    }

    .intro-container{
        width: 900px;
    }

    .heading1{
        font-size: 30px;
    }

    .introduction{

        margin-top: -400px;
        position: sticky;
        top: 24%;
        left: 17%;
        line-height: 1.8;
        width: 500px;
    }



    .introductionParagraph{
        
        font-size: 24px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 1px 1px 2px black;
        transition: 0.3s;
        
      
    }

    .studieslink{
        margin-top: 220px;
        width: 900px;
    }

    .Studynames{
        margin-left: 80px;
    }

    .parent-1{
        display: block;
    }

   
}

@media only screen and (max-width: 140px){
    .introduction{
        width: 400px;
        padding-right: 10px;
    }

   

    .navbar{
        height: 5%;
    }

    .logo{
        margin-right: 2%;
    }

    .logo img{
        width: 40%;
    

    }
    .studieslink{
        margin-top: 110px;
    }

    .navbar li{
        padding: 1px;
    }


}

