*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
}

.Meny-body{
    background-color: white;
    height: 100%;
}



header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /*padding-top: 3px;
   padding: 30px 10%;*/

}

.container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container img{
    border-radius: 50%;
    width: 125px;
}

.closingIcon{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

.closingIcon a{
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 50px;
}

.logo{
    margin-left: 35px;
    cursor: pointer;
    float: left;
}


.rightbar nav{
    width: 185px;
}

.rightbar:hover{                                            /* HOVER ANIMASJON */
    
    
    padding: 0.1%;
    border-left: solid black;
    border-bottom: solid black;

    border-radius: 15px 50px 30px 5px;
    background-color:rgb(197, 255, 197);
}





.Meny-bar{
    padding-top: 3%;
    padding-left: 14%;
    font-family: Arial, Helvetica, sans-serif;

}

.Meny-bar ul li{
    padding: 1%;
    list-style: none;
}

.Meny-bar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 35px;
}

.menulinks{

}

.rightbar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}



/* En liten HOVER animasjon på nav baren */

.Meny-bar ul li a:hover{
    opacity: 60%;
    text-decoration: underline;
}

/*Responsive koder*/

@media only screen and (max-width:870px){
    
    .rightbar{
        width: 200px;
    }
}

@media only screen and (max-width: 676px){


    header{
        margin-bottom: 0.01px;
        padding-bottom: 0.01%;
    }

    .logo{
        margin-left: 70px;
        cursor: pointer;
        float: left;
        
    }

    .container{
        width: 100%;
        padding-bottom: 0.1px;
        margin-bottom: 1px;
    }
    img{
        width: 60px;
    }

    .Meny-bar{
        font-size: 20px;
    }

    .Meny-bar ul li{
        margin-top: 1%;
        padding: 2%;
        list-style: none;
    
    
    }

    .rightbar{
        margin-top: 7%;
        margin-right: 4%;
        text-align: center;
        width: 100px;
        
    }


}




@media only screen and (max-width: 500px){

    heading /* HUSK DETTE!!*/

    img{
        width: 60px;
    }

    .Meny-bar ul li{
        padding: 4%;
        list-style: none;
    
    }

    .rightbar{
        margin-top: 7%;
        margin-right: 4%;
        text-align: center;
        width: 100px;
        
    }

 


.Meny-bar{
    margin-top: 2%;
    margin-left: 20%;
}


.Meny-bar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 40px;
}

}

@media only screen and (max-width: 385px){

    header{
        padding-bottom: 3px;
    }


    .container{
        width: 100%;
    }
    img{
        width: 60px;
    }

    .Meny-bar{
        font-size: 20px;
    }

    .Meny-bar ul li{
        margin-top: 1%;
        padding: 5%;
        list-style: none;
    
    
    }

    .rightbar{
        margin-top: 0.1%;
        text-align: center;
        width: 100px;
        
    }

    .rightbar a{
        margin-right: 0.0001px;
    }

}

@media only screen and (max-width: 325px){

    header{
        padding-bottom: 3px;
    }

    .container{
        width: 100%;
    }
    img{
        width: 60px;
    }

    .Meny-bar{
        font-size: 20px;
    }

    .Meny-bar ul li{
        margin-top: 0.2%;
        padding: 3%;
        list-style: none;
    
    
    }

    .rightbar{
        margin-top: 0.1%;
        text-align: center;
        width: 100px;
        
    }

    .rightbar li{
        display: inline-block;
        padding: 10px 12px;
        padding-bottom: 0.001px;
    }
}




@media only screen and (max-width: 291px){
    img{
        width: 100px;
        padding: 1px;
    }

    .Meny-bar{
        margin-top: 1%;
        margin-left: 20%;
    }
    
    .Meny-bar ul li{
        padding: 10%;
        list-style: none;
    
    }
    
    .Meny-bar ul li a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 30px;
    }

    .Meny-bar ul li{
        
        
        list-style: none;
    
    }

    .rightbar{
        margin-top: 20%;
        text-align: center;
        width: 100%;
        /*padding: 10%; */
    }

    .rightbar li{
        display: inline-block;
        padding: 2px 5px;
    }
}

